---
- name: Lookup nimbus user
  getent:
    database: passwd
    key: "{{ nimbus_user }}"
  register: nimbus_user_entry
  failed_when: false

- name: Extract current UID (only if user exists)
  set_fact:
    nimbus_current_uid: "{{ nimbus_user_entry.ansible_facts.getent_passwd[nimbus_user][1] | int }}"
  when: not nimbus_user_entry.failed

- name: Determine if UID update is needed
  set_fact:
    nimbus_uid_needs_update: "{{ nimbus_current_uid != nimbus_uid }}"
  when: not nimbus_user_entry.failed

- name: Stop enabled nimbus services if UID needs update
  service:
    name: "{{ item.name }}"
    state: stopped
  loop:
    - name: nimbus-beacon
      enabled: "{{ nimbus_beacon_enabled }}"
    - name: nimbus-validator
      enabled: "{{ nimbus_validator_enabled }}"
  when:
    - item.enabled
    - not nimbus_user_entry.failed
    - nimbus_uid_needs_update
  become: true

- name: Set updated optionally to trigger a systemd restart at the end
  set_fact:
    nimbus_state_updates_beacon: "{{ nimbus_state_updates_beacon + (['nimbus.uid'] if nimbus_beacon_enabled else []) }}
    nimbus_state_updates_validator: "{{ nimbus_state_updates_validator + (['nimbus.uid'] if nimbus_validator_enabled else []) }}
  when:
    - not nimbus_user_entry.failed
    - nimbus_uid_needs_update

- name: Ensure nimbus group exists
  group:
    name: "{{ nimbus_group }}"
    gid: "{{ nimbus_gid }}"
    state: present
  become: true

- name: Create nimbus user
  user:
    comment:  nimbus client user
    name: "{{ nimbus_user }}"
    uid: "{{ nimbus_uid }}"
    group: "{{ nimbus_group }}"
  become: true

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ nimbus_user }}"
    group: "{{ nimbus_group }}"
    recurse: true
  loop:
    - "{{ nimbus_base_dir }}"
    - "{{ nimbus_install_dir }}"
    - "{{ nimbus_config_dir }}"
    - "{{ nimbus_keys_dir }}"
    - "{{nimbus_secrets_dir}}"
    - "{{ nimbus_data_dir }}"
    - "{{ nimbus_validator_data_dir }}"
    - "{{ nimbus_log_dir }}"
  become: true

- name: Setup logrotate
  template:
    src: "logrotate/nimbus"
    dest: "/etc/logrotate.d/nimbus"
  become: true

- name: Get nimbus binary to install directory
  unarchive:
    src: "{{ nimbus_download_url }}"
    remote_src: "{{ true }}"
    dest: "{{ nimbus_install_dir }}"
    owner: "{{ nimbus_user }}"
    group: "{{ nimbus_group }}"
    mode: '0775'
  become: true
  register: extract_src

- name: Create a symlink to current
  file:
    src: "{{ nimbus_install_dir }}/nimbus-eth2_Linux_{{nimbus_architecture}}_{{nimbus_version[1:] }}_{{ nimbus_git_hash }}"
    dest: "{{ nimbus_current_dir }}"
    state: link
  register: create_symlink
  become: true

- name: Set updated optionally to trigger a systemd restart at the end
  set_fact:
    nimbus_state_updates: "{{ nimbus_state_updates + ['nimbus.install_dir'] }}"
    nimbus_state_updates_validator: "{{ nimbus_state_updates_validator + ['nimbus.install_dir'] }}"
    nimbus_state_updates_beacon: "{{ nimbus_state_updates_beacon + ['nimbus.install_dir'] }}"
  when: >
    extract_src is changed or
    create_symlink is changed
