[Unit]
Description=nimbus-validator
After=syslog.target network.target

[Service]
User={{ nimbus_user }}
Group={{ nimbus_group }}
Environment=HOME=/home/{{ nimbus_user }}
Type=simple
ExecStart=/bin/sh -c "{{ nimbus_current_dir }}/build/nimbus_validator_client {{ nimbus_validator_cmdline_args }} >> {{ nimbus_log_dir }}/validator.log 2>&1"
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s
WorkingDirectory={{ nimbus_current_dir }}
{% if nimbus_validator_limit_no_file %}
LimitNOFILE={{ nimbus_validator_limit_no_file }}
{% endif %}

[Install]
WantedBy=multi-user.target
